<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 Marta. Tutti i diritti riservati.</p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <img src="001-facebook.png" alt="Facebook" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="003-instagram.png" alt="Instagram" />
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="004-twitter.png" alt="Twitter" />
      </a>
    </div>
  </div>
</footer>
