<nav
  class="navbar fixed-top navbar-expand-lg custom-navbar"
  [class.scrolled]="isScrolled"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <div class="labforweb">LABFORWEB</div>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogo">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrazione">Registrazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contatti">Contatti</a>
        </li>
      </ul>

      <form class="search-form d-flex me-3" [class.active]="searchActive">
        <input
          class="form-control me-2 search-input"
          [formControl]="searchControl"
          type="search"
          [placeholder]="getPlaceholder()"
        />

        <button
          class="btn btn-outline-light"
          type="button"
          (click)="toggleSearch()"
        >
          <i class="bi bi-search"></i>
        </button>
      </form>

      <a routerLink="/profilo" class="btn btn-outline-light">
        <i class="bi bi-person-circle"></i>
      </a>
    </div>
  </div>
</nav>
